<!-- <p>quote-details works!</p> -->

<p>{{quote.description}}</p>
<p> Author:&nbsp;{{quote.author}}</p>
<p> Submitted by:&nbsp; {{quote.submittedby}}</p>
<p> <span>Quote Posted:</span> &nbsp;{{quote.completeDate|dateCount}} days ago</p>  
  

<div class="card-footer">
  <a (click)="likeButtonClick()" ><i class="fa fa-thumbs-up fa-lg like"></i>{{upVotes}}</a>  &nbsp;
  <a (click)="dislikeButtonClick()"><i class="fa fa-thumbs-down fa-lg dislike"></i>{{downVotes}}</a>
  <button (click)='quoteDelete(true)' class="btn btn-outline-danger" style="margin-left: 50%"><i class="far fa-trash-alt"></i></button>
</div>